/* Simple CSS Reset - START */
html {
  box-sizing: border-box;
  font-size: 18px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* Simple CSS Reset - END */

body {
  font-family: 'Roboto', monospace;
  font-weight: 100;
  color: #ffffff;
  letter-spacing: 1.2px;
  line-height: 2rem;
}

p {
  font-weight: 300;
  margin-bottom: 20px;
}

section {
  background-image: linear-gradient(90deg, rgba(18, 41, 93, 1) 0%, #000000 100%); /* main bg color */ 
  padding: 10px;
}

section .light {
  color: #333333;
  background: #ffffff;
}

nav {
  display: none;
}

.hero-btn {
  background-color: #183661;
  border: none;
  border-radius: 12px;
  padding: 15px 25px;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.hero-btn a {
  text-decoration: none;
  color: #ffffff;
}

#c {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

section h2 {
  letter-spacing: 2px;
}

header {
  width: 100%;
  height: 100vh;
  min-height: 450px;
  max-width: 1300px;
  color: #333333;
  background: #ffffff;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
  padding: 0 50px;
}
.header-content {
  position: relative;
  text-align: center;
}

.header-logo {
  width: 60%;
  margin-top: 30px;
}

.header-detail-text {
  margin: 40px 0;
  font-size: 1.2rem;
}

.header-image {
  display: none;
}

.hero-title {
  display: none;
}

.why-container h3 {
  text-decoration: underline;
}

.why-list {
  list-style: none;
  padding-left: 10px;
  line-height: 1.4em;
}

.why-list li {
  padding: 4px 0;
}

.why-list li:before {
  font-size: 1.4em;
  content: '✓';
  padding: 0 2px;
}

.program-container {
  box-sizing: border-box;
  padding: 4px;
  border-radius: 15px;
  border: 4px solid #E2FFFA;
  margin: 16px 0;
}

.program-container .program-day {
  text-align: center;
}

.program-item {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.program-item .time {
  width: 8%;
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
}

.program-item .time hr {
  display: inline-block;
  width: 40%;
  border-color: white;
}

.program-item .image {
  width: 22%;
  text-align: center;
}

.program-item .image img {
  width: 100%;
  border-radius: 100%;
  box-sizing: border-box;
  border: 2px solid white;
}

.program-item .image.triple img {
  width: 80%;
}

.program-item .text {
  width: 70%;
  box-sizing: border-box;
  padding: 4px 4px 4px 8px;
}

.program-item h3, .program-item h4 {
  margin: 4px 0;
}

.program-item .item-title{
  font-size: 0.8em;
  font-weight: 700;
}
.program-item .speaker-name{
  font-size: 0.7em;
  font-weight: 300;
}
.program-item .speaker-title{
  font-size: 0.7em;
  font-weight: 300;
}
.partners-container{
  color: black;
  background: white;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
  outline: 20px double black;
  margin: 50px 20px;
}
.partners-container .sponsor img{
  width: 100%;
}
.partners-container .sponsor.main{
  width: 50%;
  margin: 20px auto;
}
.partners-container .sponsor.gold{
  width: 75%;
  margin: 20px auto;
}
.partners-container .cooperators{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.partners-container .cooperators .sponsor{
  width: 40%;
}
.partners-container .cooperators2{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.partners-container .cooperators2 .sponsor{
  width: 18%;
}
.register-container h3{
  text-align: center;
  line-height: 1.5em;
  letter-spacing: 1px;
  font-size: 1.4em;
}
.register-container .youtube-btn{
  margin: 30px auto;
  padding: 20px;
  width: 200px;
  background-color: red;
  cursor: pointer;
  border-radius: 12px;
  text-align: center;
}
.register-container .instagram-btn{
  margin: 20px auto;
  padding: 20px;
  width: 200px;
  background-color: white;
  cursor: pointer;
  border-radius: 12px;
  text-align: center;
  display:inline-block;
  color: black;
}
.register-container a{
  text-decoration: none;
  color: rgb(255,255,255);
  font-weight: 700;
  font-size: 1.6em;
}
.instagram{
  margin: auto;
  text-align: center;
}
.team-member{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 4px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 15px;
  border: 4px solid #E2FFFA;
}
.team-member .image{
  width: 30%;
}
.team-member .image img{
  width: 80%;
  margin: 4px 10%;
  border-radius: 12px;
}
.team-member .text{
  width: 70%;
  box-sizing: border-box;
  padding-left: 10px;
}
.team-member .text a{
  text-decoration: none;
  color: white;
}
.map-container{
  height: 400px;
  width: 100%;
}
.footer-container{
  text-align: center;
}
.footer-container img{
  width: 60%;
  margin: 20px auto;
}
@media screen and (min-width: 767px){
  .container{
      width: 767px;
      margin: 0 auto;
  }
  .header-image{
      display: block;
  }
  .header-image img{
      width: 100%;
  }
  .header-container{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 200px;
  }
  .header-text{
      padding-right: 50px;
  }
  .header-container .header-image{
      width: 40%;
  }
}
@media screen and (min-width: 600px){
  .programs-container{
      width: 600px;
      margin: 0 auto;
  }
}
@media screen and (min-width: 767px){
  .container{
      width: 767px;
      margin: 0 auto;
  }
  .container-wide{
      width: 100%;
  }
  .partners-container .sponsor.main{
      width: 40%;
      margin: 20px auto;
  }
  .partners-container .sponsor.gold{
      width: 65%;
      margin: 20px auto;
  }
  .partners-container h3{
      font-size: 1.6em;
      font-weight: 700;
      margin: 40px 0 20px 0;
  }
  .hero-title{
      display: block;
      font-size: 2.5rem;
      margin-bottom: 30px;
  }
  .header-logo{
      display: none;
  }
  .footer-container img{
      width: 50%;
      margin: 25px auto 10px auto;
  }
  nav{
      width: 100%;
      background: #183661;
      color: white;
      position: fixed;
      display: flex;
      box-shadow: 0px 0px 3px 1px #183661;
      justify-content: space-between;
      padding: 10px;
      z-index: 11;
  }
  .menu-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .menu-container a {
    margin: 0 16px;
  }
  nav a{
      text-decoration: none;
      color: white;
      font-size: 1.1em;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
  }
  nav .logo-container img{
      height: 68px;
  }
  .register-container .br-mobile{
      display: none;
  }
}
@media screen and (min-width: 960px){
  .container-wide{
      width: 960px;
      margin: 0 auto;
  }
  .programs-container{
      width: 100%;
      display: flex;
      align-items: start;
  }
  .program-container{
      width: 50%;
      margin: 20px;
  }
  .team-member{
      float: left;
      width: 48%;
      margin: 15px 1%;
  }
  .footer-container img{
      width: 40%;
      margin: 30px auto 10px auto;
  }
  .program-item .item-title{
      font-size: 0.9em;
      font-weight: 700;
      line-height: 1em;
  }
  .program-item .speaker-name{
      font-size: 0.8em;
      font-weight: 300;
  }
  .program-item .speaker-title{
      font-size: 0.8em;
      font-weight: 300;
  }
}

@media screen and (min-width: 1350px){
  .header-container{
      width: 80%;
      margin: 0 auto;
  }
}
